
div.wrapper {
  display: flex;
}

div.wrapper aside.profile {
  width: 260px;
}

div.wrapper aside.profile img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;
}

div.wrapper aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper aside.profile span {
  font-size: 14px;
  color: #53626c;
}

div.wrapper aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper aside.profile ul.list li {
  font-size: 14px;
  color: #667786;

  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper aside.profile ul.list li:first-child {
  margin-top: 0;
}

div.wrapper aside.profile ul.list li img {
  margin-right: 10px;
}