.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 46px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header .content > img {
  padding: 0 30px;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;

  font-size: 13px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin-left: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.avatar-side {
  display: flex;
}

header#main-header div.avatar-side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;

  margin: 0 15px;
}

header#main-header div.avatar-side button {
  background-color: #3db9e3;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 16px;
}
input, button {
  outline: 0;
}

header#main-header div.avatar-side input { 
  width: 220px;
  border: solid 1px #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #f5f8fa url('/src/assets/images/search.svg') no-repeat 190px center;
}