.profile-background {
  height: 320px;
  background-image: url('https://cdn.shopify.com/s/files/1/0337/7469/files/cats_dogs-wall-murals-1500x500.jpg?v=1497451177');
}

.avatar-container {
  bottom: -87px;
  left: 10px;
  position: absolute;
  transition: bottom .3s;
  z-index: 3;
}

.avatar {
  background: #fff;
  background-image: url(https://avatarfiles.alphacoders.com/946/thumb-94610.jpg);
  border: 5px solid #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
}

.profile-stats {
  background-color: #fff;
}

.profile-stats ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.profile-stats li {
  display: inline-block;
}

.profile-stats a {
  padding: 10px 16px;
  display: block;
}

.profile-stats-item-active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #1da1f2 !important;
}