div.wrapper .timeline {
  flex: 1;
  background-color: #fff;
  margin: 10px 20px 0;
}

div.wrapper .timeline nav {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

div.wrapper .timeline nav a {
  text-decoration: none;
  color: #3bb9e3;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

div.wrapper .timeline nav a:first-child {
  margin: 0;
}

div.wrapper .timeline nav a.active {
  color: #1f2226;
}