div.wrapper aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper aside.widgets .follow ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

div.wrapper aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper aside.widgets .follow ul li .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

div.wrapper aside.widgets .follow ul li .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2226;
}

div.wrapper aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper aside.widgets .follow ul li .profile .info button {
  color: #3db9e3;
  height: 27px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #3db9e3;
  border-radius: 16px;
  margin-top: 4px;
}

div.wrapper aside.widgets .follow ul li > a {
  color: #ccd6dd;
  text-decoration: none;
  font-size: 14px;
}