* {
  margin: 0;
  padding: 0; /*reset dos elementos para espaçamentos nativos */
  box-sizing: border-box;/*faz com q o padding não aumente o tamanho da width
    e aplica padding interno caso ultrapasse a width
  */
}

body {
  background-color: #e6ecf0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  /*suavidade da fonte*/
}

div.wrapper aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}